<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light bg-light">

    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'logo.png' %>
    <% end %>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto main-nav align-items-center">
        <li class="nav-item dropdown dropdown-slide">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= Board.model_name.human %>
          </a>

          <div class="dropdown-menu dropdown-menu-end">
            <%= link_to t('boards.index.title'), boards_path, class: 'dropdown-item' %>
            <%= link_to '掲示板作成', '#', class: 'dropdown-item' %>
          </div>
        </li>
        <li class="nav-item dropdown dropdown-slide">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            リンク
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <%= link_to raw('<i class="fas fa-space-shuttle" style="color: cornflowerblue;"></i> リンク1'), '#', class: 'dropdown-item' %>
            <%= link_to raw('<i class="fas fa-kiwi-bird" style="color: cornflowerblue;"></i> リンク2'), '#', class: 'dropdown-item' %>
            <%= link_to raw('<i class="fas fa-snowman" style="color: cornflowerblue;"></i> リンク3'), '#', class: 'dropdown-item' %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to 'ブックマーク一覧', '#', class: 'nav-link' %>
        </li>

        <li class="nav-item dropdown dropdown-slide">
          <a href="#" class="nav-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="header-profile">
            <%= image_tag 'sample', size: '40x40', class: 'rounded-circle mr15'%>
          </a>
          
          
          <div class="dropdown-menu dropdown-menu-end">
            <div class="dropdown-item"><%= current_user.decorate.full_name %></div>
            <div class="dropdown-divider"></div>
            <%= link_to 'プロフィール', '#', class: 'dropdown-item' %>

            <%= link_to (t 'defaults.logout'), logout_path, class: 'dropdown-item', method: :delete %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>