<div class="col-12 col-lg-4 mb-3">
  <div id="board-id-<%= board.id %>">
    <div class="card">
      <%= image_tag board.board_image_url, class: 'card-img-top', size: '300x200' %>
      <div class="card-body">
        <h4 class="card-title">
          <%= board.title %>
        </h4>
        <% if current_user.own?(board) %>
          <%= render 'crud_menus', board: board %>
        <% else %>
          <%= render 'bookmark_button', board: board  %>
        <% end %>
        <div class="mb-2">
          <div>
            <i class="far fa-user"></i>
            <%= board.user.decorate.full_name %>
          </div>
          <div>
            <i class="far fa-calendar-alt"></i>
            <%= l board.created_at, format: :long %>
          </div>
        </div>
        <p class="card-text">
          <% if board.body.length > 15 %>
            <%= truncate(board.body, length: 15) %>
            <%= link_to '続きを見る', board_path(board), class: "text-link" %>
          <% else %>
            <%= board.body %>
            <%= link_to '続きを見る', board_path(board), class: "text-link" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
